@model Multilinks.Models.Customer
@using Multilinks.Models;
@{
   
   Layout = "~/Views/Shared/_Layoutcustomer.cshtml";
    Customer c = (Customer)Session["Customer"];
}

<h2>Edit</h2>
@if (c.Customer_Email == Model.Customer_Email)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
<center>
    <div class="form-horizontal">
        <h4 style="margin-top:70px;">Customer Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Customer_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <span class="col-md-10"  >
                @Html.EditorFor(model => model.Customer_Name, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" })
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <span class="col-md-10">
                @Html.EditorFor(model => model.Customer_Email, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Customer_Email, "", new { @class = "text-danger" })
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <span class="col-md-10">
               <input type="password" name="Customer_Password" />
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <span class="col-md-10">
                @Html.EditorFor(model => model.Customer_Contact, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Customer_Contact, "", new { @class = "text-danger" })
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <span class="col-md-10">
                @Html.EditorFor(model => model.Customer_Address, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Customer_Address, "", new { @class = "text-danger" })
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</center>
    }
}
